/* Aucune bordure */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Barre de navigation */
nav 
{
    width: 100%;
    height: 100px;
    background: #143058;
}

nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Liens des pages */
nav .main_pages a 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: white;
}

/* Change la couleur du bouton au survol */
nav a:hover 
{
    background: #1f4c8c;
}

/* Cache le bouton hamburger sur la version de bureau*/
label, #toggle
{
    display: none;
}

/* Logo du site */
.logo {
    height: 100px;
    background-color: rgb(203, 203, 203);
}

/* En-tête */
header {
    display: flex;
    align-items: center;
}

/* Contenu principal de la page */
main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
}

/* Tuile */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: #143058;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(45, 45, 45);
}

.card:hover {
    background-color: #1f4c8c;
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.card-value {
    font-size: 32px;
}

.host-title {
    font-size: 32px;
}

.host-div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 100px;
}

.status-color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: orange;
}

@media (max-width: 1400px) {
    main { grid-template-columns: repeat(5, 1fr); }
}

@media (max-width: 1200px) {
    main { grid-template-columns: repeat(4, 1fr); }
}

/* Responsive pour la version mobile */
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
        z-index: 2;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #143058;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 100%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
        margin-left: 15px;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }

    .logo {
        margin-bottom: 20px;
        background-color: white;
    }

    header {
        flex-direction: column;
    }

    main {
        margin-left: 0px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 90%;
        border-radius: 0px;
        margin: 0 auto;
    }
}