<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Intranet Saint-James</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Bouton hamburger pour les appareils mobiles -->
            <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">
            <!-- Liens des pages -->
            <div class="main_pages">
                <a href="/">Accueil</a>
                <a href="/form">Formulaires</a>
                <a href="/list">Liste des téléphones</a>
            </div>
        </nav>
    </header>

    <!-- CONTENU PRINCIPAL -->
    <main>
        <h1>Intranet Saint-James</h1>
        <div class="badges">
            <p class="badge">Version <%= version %></p>
            <p class="badge">Node.JS <%= nodever %></p>
            <p class="badge">Hébergé sur <%= operatingsystem %></p>
        </div>
        <p>Développé et designé par Alexandre Poyer (<a href="https://github.com/djalexkidd" target="_blank">GitHub</a>)</p>

        <canvas width="400" height="400" id="game"></canvas>

        <p class="snake-score">0</p>
    </main>

    <!-- SCRIPTS -->
    <script src="js/spin.js"></script>
    <script src="js/snake.js"></script>
</body>
</html>