<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/newworker.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Intranet Saint-James</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Bouton hamburger pour les appareils mobiles -->
            <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">
            <!-- Liens des pages -->
            <div class="main_pages">
                <a href="/">Accueil</a>
                <a href="/form">Formulaires</a>
                <a href="/list">Liste des téléphones</a>
                <a href="/jobs">Offres d'emploi</a>
            </div>
        </nav>
    </header>

    <div class="user-control">
        <img class="svg-color" src="img/user.svg" />
        <p><%= useremail %></p>
        <a class="logout" href="/logout">Déconnexion</a>
    </div>

    <!-- CONTENU PRINCIPAL -->
    <main>
        <p>Nouveau salarié / <a href="/lend">Prêt de matériel</a></p>
        <div class="container">
            <form action="" method="post">
                <div class="option-component">
                    <p>Nom:</p>
                    <input name="lastname" required>
                </div>

                <div class="option-component">
                    <p>Prénom:</p>
                    <input name="firstname" required>
                </div>

                <div class="option-component">
                    <p class="mobile-shrink">Date de naissance:</p>
                    <input type="date" name="birthdate" required>
                </div>

                <div class="option-component">
                    <p>Service:</p>
                    <input name="service" required>
                </div>

                <div class="option-component">
                    <p>Fonction:</p>
                    <input name="fonction" required>
                </div>

                <div class="spacing"></div>

                <div class="option-component">
                    <input type="radio" name="persontype" value="externe" required>
                    <p>Personne externe</p>
                </div>

                <div class="option-component">
                    <input type="radio" name="persontype" value="interne">
                    <p>Personne interne</p>
                </div>

                <div class="spacing"></div>

                <div class="hardware-lend">

                <div class="option-component">
                    <input type="checkbox" name="needMail" value="Adresse mail">
                    <p>Adresse mail</p>
                </div>

                <div class="option-component">
                    <input type="checkbox" name="needComputer">
                    <p>PC fixe</p>
                </div>

                <div class="option-component">
                    <input type="checkbox" name="needPortableComputer">
                    <p>PC portable</p>
                </div>

                <div class="option-component">
                    <input type="checkbox" name="needPhone">
                    <p>Téléphone fixe</p>
                </div>

                <div class="option-component">
                    <input type="checkbox" name="needMobilePhone">
                    <p>Téléphone mobile</p>
                </div>

                </div>

                <input class="sendform" type="submit" value="Envoyer" />
            </form>
        </div>

        <p><%= mailstatus %></p>
    </main>

    <!-- SCRIPTS -->
    <script src="js/formworker.js"></script>
    <script src="js/spin.js"></script>
</body>
</html>