main {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.badge {
    background-color: green;
    color: white;
    width: 175px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
    
}

p, h1 {
    text-align: center;
    margin-top: 30px;
}

canvas {
    margin-top: 10px;
    border: 1px solid black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake-score {
    font-size: 32px;
}

/* Responsive pour la version mobile */
@media all and (max-width: 991px)
{
    .badges {
        align-items: center;
        flex-direction: column;
    }

    p, h1 {
        text-align: center;
        margin-top: 20px;
    }
}